<%- include('header'); -%>
  <h1><%= title %></h1>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page" href="/restaurant">Liste des restaurants</a>
        </li>
      </ul>
    </div>

    <%- include('footer') -%>
